@import '../../assets/css/utilities/variable';

.minXs {
  &.only {
    @include media-breakpoint-up(xs) {
      display: none !important;
    }
  }

  &.maxSm {
    @include media-breakpoint-only(sm) {
      display: none !important;
    }
  }

  &.maxMd {
    @include media-breakpoint-between(xs, md) {
      display: none !important;
    }
  }

  &.maxLg {
    @include media-breakpoint-between(xs, lg) {
      display: none !important;
    }
  }

  &.maxXl {
    @include media-breakpoint-between(xs, xl) {
      display: none !important;
    }
  }
}

.minSm {
  &.only {
    @include media-breakpoint-up(sm) {
      display: none !important;
    }
  }

  &.maxMd {
    @include media-breakpoint-between(sm, md) {
      display: none !important;
    }
  }

  &.maxLg {
    @include media-breakpoint-between(sm, lg) {
      display: none !important;
    }
  }

  &.maxXl {
    @include media-breakpoint-between(sm, xl) {
      display: none !important;
    }
  }
}

.minMd {
  &.only {
    @include media-breakpoint-up(md) {
      display: none !important;
    }
  }

  &.maxLg {
    @include media-breakpoint-between(md, lg) {
      display: none !important;
    }
  }

  &.maxXl {
    @include media-breakpoint-between(md, xl) {
      display: none !important;
    }
  }
}

.minLg {
  &.only {
    @include media-breakpoint-up(lg) {
      display: none !important;
    }
  }

  &.maxXl {
    @include media-breakpoint-between(lg, xl) {
      display: none !important;
    }
  }
}

.minXl {
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}

.maxXs {
  &.only {
    @include media-breakpoint-down(xs) {
      display: none !important;
    }
  }
}

.maxSm {
  &.only {
    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }
}

.maxMd {
  &.only {
    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
}

.maxLg {
  &.only {
    @include media-breakpoint-down(lg) {
      display: none !important;
    }
  }
}

.maxXl {
  &.only {
    @media (max-width: map-get($grid-breakpoints, xl)) {
      display: none !important;
    }
  }
}
